<br />
<ul class="nav nav-pills nav-stacked">
	{{#link-to 'measures.graph' tagName='li'}}<a>MeteoUB</a>{{/link-to}}
  {{#link-to 'measures.index' tagName='li'}}<a>Last 24h</a>{{/link-to}}
  {{#link-to 'measures.now' tagName='li'}}<a>Now</a>{{/link-to}}
</ul>