<div class="list-group">
  {{#if isLoading}}<div class="list-group-item">Loading</div>{{/if}}
  {{#if isLoaded}}<div class="list-group-item">Loaded</div>{{/if}}
  {{#each}}
    {{#link-to 'measures.show' this class="list-group-item"}}
      {{short-time datetime}} 
      <span class="pull-right"><strong>{{temperature}}ºC</strong></span>
    {{/link-to}}
  {{/each}}
</div>

{{outlet}}