<table class="pure-table">
	<thead>
    <tr>
    	<th>Date</th>
	    <th>Temp</th>
    </tr>
  </thead>
  <tbody>
  	{{#each}}
  	<tr>
	  	<td>{{short-time datetime}}</td>
	  	<td>{{#link-to 'measures.show' this class="pure-button pure-button-primary"}}{{temperature}}ºC{{/link-to}}</td>
  	</tr>
  	{{/each}}
  </tbody>
</table>

{{outlet}}